{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}
     BlogPost | AboutPage
    {% endblock %}</title>
</head>
<body>
	<h1 class="text-center">About...</h1>
	<hr>
	<br>
<center>
	<small><h5>This is a BlogPost Website that you can add a post,<br> see your posts, edit, delete them, you also can register ,<br> login, logout , edit your profile,etc... enjoy!
	</h5></small>
	<br>
	<hr>
	<br>
	<center><h2>Welcome To Our website...</h2></center>
</center>
</body>
</html>
{% endblock %}