{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}
     {{ model.page_title }}
    {% endblock %}</title>
</head>
<body>
<br><br>
<div class="col-sm" class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center" class="card-title">{{ model.title }}</h2>
        <br>
        <small>By : <strong>{{ model.author.first_name }}  {{ model.author.last_name }}</strong>
         -   {{ model.Post_date }}</small>
      {% if user.is_authenticated %}
        {% if user.id == model.author.id %}   
         <a style="margin-top: 2px; margin-left: 10px;" class="btn btn-danger btn-sm " href="{% url 'delete' model.id %}">Delete</a>
    <a style="margin-top: 2px;" class="btn btn-primary btn-sm " href="{% url 'edit' model.pk %}">Edit</a>
        {% endif %}
      {% endif %}    
        <hr>
        <br>
        <p class="card-text">{{ model.body }}</p>
        <br>
        <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
      </div>
    </div>
    <br>
    <br>
    <br>

<div class="col-md-9 ">  
<strong><h6>Comments...</h6></strong>
</div>
<hr>
<br>
  {% if not model.comments.all %}
<div class="col-md-9 offset-md-0">
No Comments Yet... <br>  
</div>
  {% else %}
    <div class="col-md-9 offset-md-1">
      {% for comment in model.comments.all %}
      <strong>{{ comment.name }}</strong>
      <small style="float: right;">({{ comment.date_added }})</small>
      <br>
      <br>
      {{ comment.body | linebreaks }}
      <hr>
    {% endfor %}
  {% endif %}  
{% if user.is_authenticated %}
<br>    
    <div class="col-md-9">
    <a class="btn btn-secondary btn-sm" href="{% url 'add_comment' model.pk %}">Add Comment</a> 
  </div>  
{% else %}
<small>
  You Have To Be Logged In To Comment | <a href="{% url 'login_user' %}">Login Here</a>  
</small>   
{% endif %}
</div> 
</div>  
<br> 
<br>
</body>
</html>
{% endblock %}