{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}
     BlogPost | Edit
    {% endblock %}</title>
</head>
<body>
<h1 class="text-center">Update Post...</h1>
<hr>

<div class="col-md-7 offset-md-3" class="form-group">
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}	
		<button class="btn btn-secondary">Update</button>
	</form>
</div>	

</body>
</html>
{% else %}
		<div class="alert alert-danger" role="alert">
  You Are Not Allowed To Be Here | <small><a href="{% url 'home' %}"> Go Back</a></small>
	</div>
{% endif %}	
{% endblock %}